<aside class="main-sidebar">
  <div class="logo">
    <img src="logos/logo.png" />
    <p [class]="sideBarClass">Grocify</p>
  </div>
  <div>
    <ul>
      <li class="path-container" routerLink="/dashboard">
        <div class="icon-container">
          <i class="material-icons">dashboard</i>
        </div>
        <div [class]="sideBarClass">Dashboard</div>
      </li>
      <li class="path-container" routerLink="/user">
        <div class="icon-container"><i class="material-icons">person</i></div>
        <div [class]="sideBarClass">User</div>
      </li>
      <li class="path-container" routerLink="/order">
        <div class="icon-container"><i class="material-icons">list_alt</i></div>
        <div [class]="sideBarClass">Orders</div>
      </li>
      <li class="path-container" routerLink="/product">
        <div class="icon-container">
          <i class="material-icons">storefront</i>
        </div>
        <div [class]="sideBarClass">Product</div>
      </li>
    </ul>
  </div>
</aside>
