* {
  margin: 0;
  padding: 0;
}
.logo {
  /* gap: 6px; */
  /* width: 20%; */
  display: flex;
  align-items: center;
  overflow: hidden;
}
.logo p {
  margin-top: 5px;
  overflow: hidden;
}
.logo img {
  width: 40px;
  height: 40px;
}
ul {
  /* text-align: center; */
  margin-top: 10px;
}

li {
  /* padding: 8px 20px; */
  display: flex;
  /* gap: 10px; */
  /* justify-content: left; */
  align-items: center;
  list-style-type: none;
  height: 47px;
  /* width: 100%; */
}
.main-sidebar {
  height: 100vh;
}

.path-item-open {
  /* margin-right: 32px; */
  width: 120px;
}

.path-item-closed {
  width: 0px;
}

.icon-container {
  /* height: 12px; */
  margin: 0 10px;
  margin-top: 5px;
}
