<aside class="main-sidebar">
  <div class="logo">
    <img src="logos/logo.png" />
    <p>Grocify</p>
  </div>
  <div>
    <ul>
      <li routerLink="/dashboard">
        <div><i class="material-icons">dashboard</i></div>
        <div>Dashboard</div>
      </li>
      <li routerLink="/user">
        <div><i class="material-icons">person</i></div>
        <div>User</div>
      </li>
      <li routerLink="/order">
        <div><i class="material-icons">shop</i></div>
        <div>Orders</div>
      </li>
    </ul>
  </div>
</aside>
