<header class="flex-row header-app justify-between">
  <div class="logo">
    <i class="material-icons" (click)="(toggleSidebar())">menu</i>
  </div>

  <div class="flex-row header-content">
    <div class="header-search-container flex-row">
      <input matInput placeholder="Customer" type="text" />
      <i class="material-icons">search</i>
    </div>
    <div class="flex-row">
      <div><i class="material-icons">person</i></div>
      <div><i class="material-icons">logout</i></div>
    </div>
  </div>
</header>
